__pycache__
.aws_sam
.cache
.coverage
.coverage.*
.git
.hypothesis
.mypy_cache
.pytest_cache
.pytest_cache
.Python
.tox
.venv
.vscode
*.cover
*.log
*.pyc
*.pyd
*.pyo
**/__pycache__
coverage.xml
env
events
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
tests
venv
