__pycache__
.aws_sam
.aws-sam
.cache
.coverage
.coverage.*
.cursor
.DS_Store
.env
.env.*
.git
.github
.hypothesis
.mypy_cache
.pytest_cache
.Python
.ruff_cache
.tox
.venv
.vscode
*.cover
*.egg-info
*.log
*.pyc
*.pyd
*.pyo
**/__pycache__
build
coverage.xml
dist
env
events
htmlcov
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
tests
venv
sam-installation
.idea
.env.json
.flake8
.gitignore
.dockerignore
.pre-commit-config.yaml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE
README.md
samconfig.toml
aws-sam-cli-linux-*.zip
