name: integration-tests

on:
  pull_request:
  push:
    branches: [ '*' ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r tests/requirements.txt
    - uses: aws-actions/setup-sam@v2
    - run: sam build --use-container --parallel

    - name: Create env.json for SAM
      env:
        EFS_PROBLEMS_ENCRYPTION_KEY: ${{ secrets.EFS_PROBLEMS_ENCRYPTION_KEY }}
        API_ACCESS_KEY: ${{ secrets.API_ACCESS_KEY }}
      run: |
        echo '{"Parameters": {"EFSProblemsEncryptionKey": "'"$EFS_PROBLEMS_ENCRYPTION_KEY"'", "APIAccessKeyValue": "'"$API_ACCESS_KEY"'"}}' > env.json

    - name: Start the project locally (and detach)
      run: sam local start-lambda --env-vars env.json &

    - name: Run integration tests with SAM
      run: pytest tests/integration
